/* _________________ work sane font family from google font ____________________ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* _________________ Shared style ________________ */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    color: #FFF;

    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin: 32px auto 50px;
    cursor: pointer;
}

/* _________ header style ________ */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style: none;
}

nav > ul a{
    text-decoration: none;
    color:#424242;
    font-size: 18px;
    font-weight: 500;
    /* line-height: 26px; */
    margin-right:30px ;
}
nav > h2 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

/* ______________________ banner-text-style _____________________ */
.banner-text-style{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:#131313;
    font-size: 64px;
    font-weight: 700;    
}
.banner-description{
    color: #727272;
    text-align: center;
    font-weight: 400;
}
.banner-img  img{
    width: 100%;
}
/* ______________________________ main style__________________________________ */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* feature style */
.feature-section{
    display: flex;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-text{
    padding-right:70px ;
    padding-left: 70px;
}
.feature-title{
    width: 468px;
    font-size: 45px;
}
.feature-title .quick-list-design{
    color:#727272;
    font-size: 45px;
    font-weight: 500;
}
.feature-title .of-our-design{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.feature-title .feature-design{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.feature-description{
    width: 537px;
    color: #727272;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}















/* ________________________ responsive media queries _______________________ */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
            padding: 10px 20px;
    }
    nav{
        flex-direction: column;
    }
    /* ___features section responsive___ */
    main{
        max-width: 1440px;
        margin: 70px 0;
    }
    .feature-section{
        flex-direction: column;
    }
    .feature-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .feature-text{
        padding-right:10px ;
        padding-left: 10px;
    }
    .feature-description{
        width: 99%;
    }


}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:996px) {
    header{
        padding: 20px 30px;
    }

     /* ___features section responsive___ */
     main{
        max-width: 1440px;
        margin: 70px 0;
    }
    .feature-section{
        flex-direction: column;
    }








}











